{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
{% endblock %}

{% block body %}
<div>
    <h1>Hello {{ controller_name }} ! ✅</h1>
</div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>
    <div>
        <h1>Hello {{ controller_name }} ! ✅</h1>
    </div>

{% endblock %}
