{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <div>
        <ul class="flex-container">

            <li class="flex-item fixeBox">
                <a class="linkSite" href="{{ path('gestionNHCI') }}" >
                    <p>Administration NHCI</p>
                </a>
            </li>

            <li class="flex-item fixeBox" >
                <a class="linkSite" href="{{ path('info_contact_index') }}" >
                    <p>Messages</p>
                </a>
            </li>

            {% for siteAdmin in allSiteAdmin %}
                <li class="flex-item">
                    {{ include('site_admin/_delete_form.html.twig') }}
                    <a class="linkSite" href="{{ siteAdmin.url }}" >
                        <p>{{ siteAdmin.name }}</p>
                    </a>
                </li>
            {% endfor %}

            <li class="flex-item fixeBox" >
                <a class="linkSite" href="{{ path('site_admin_new') }}" >
                   <button class="btn btn-primary">+</button>
                </a>
            </li>

        </ul>
    </div>
{% endblock %}
